{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary fixed-top my-navbar" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" style="position: relative;left: 20px" href="{% url 'home' %}">Головна</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="position: relative; left:850px" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
            <span class="navbar-text" style="position: relative;left:-230px">Вітаємо, {{ user.username }}!</span>
            <li class="nav-item"><a class="btn search-button" style="position: relative; left: -215px;" href="{% url 'logout' %}">Вийти</a></li>
        {% else %}
            <a href="{% url 'register' %}" class="btn search-button" style="position:relative; left: -170px;">Зареєструватися</a>
            <a href="{% url 'login' %}" class="btn search-button" style="position:relative; left: -150px;">Увійти</a>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div class="my_container">
    <div class="text-container" 
    style="margin-top: 50px; margin-left: -550px; width: 600px; height: 500px">
        <div class="b-flex gap-3">
          <form method="post" class="login-form">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-card" style="margin-left: 200px;" type="submit">Login</button>
          </form>

            <div class="text-center" style="position: relative;margin-top: 80px;">
                <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}