{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary fixed-top my-navbar" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Booking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log in</a></li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success search-button" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="my_container">
    <div class="text-container" 
    style="margin-top: 50px; margin-left: -550px; width: 600px; height: 500px">
        <div class="b-flex gap-3">
            <form method="post" class="login-form">
                {% csrf_token %}
                {{ form.as_p }}
                <a class="btn btn-card" style="margin-left: 200px;" type="submit">Login</a>
            </form>

            <div class="text-center" style="margin-top: 20px;">
                <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}