
body {
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.216) 125px, transparent 2px),
        url(https://images.wallpaperscraft.com/image/single/sunset_horizon_sea_128766_1280x720.jpg);
    background-size: 280px 100%, cover;
    background-repeat: repeat, no-repeat;
    background-position: 0 0, center;
    background-attachment: fixed;


}
.container {
    width: 75%;
    max-width: 10000px;
    margin: 100px auto;
    padding: 25px;
    background-color: #000000c7;
    border-radius: 12px;

}

h1, h2, h3 {
    color: #222;
    margin-top: 0;
}

button, .btn_card {
    background: #f7cd11;
    height: 40px;
    position: relative;
    top: 50px;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel .carousel-control-prev.carousel_btn,
.carousel .carousel-control-next.carousel_btn {
    width: 10px;
    height: 80px;
    border-radius: 10%;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #0000009e;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.table{
    border-radius: 20%;
    width: 400px;
    height: 400px;

}

.table tbody tr:nth-child(odd) td {
  background-color: rgb(255, 255, 255) !important;
}
.table tbody tr:nth-child(even) td {
  background-color: rgb(255, 255, 255) !important;
}


.carousel_btn:hover {
    background-color: #000000;
}   
button:hover, .btn:hover {
    background-color: #151515;
}

.my-custom-color {
  background-color: #474747 !important;
}