
body {
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.266) 125px, transparent 2px),
        url(https://images.wallpaperscraft.com/image/single/sunset_horizon_sea_128766_1280x720.jpg);
    background-size: 280px 100%, cover;
    background-repeat: repeat, no-repeat;
    background-position: 0 0, center;
    background-attachment: fixed;


}
.container {
    width: 75%;
    max-width: 10000px;
    margin: 100px auto;
    padding: 25px;
    background-color: #000000c7;
    border-radius: 12px;

}


h1, h2, h3 {
    color: #222;
    margin-top: 0;
}

button, .btn {
    background-color: #818EC5;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel_btn {
    width: 60px;
    height: 60px;
    border-radius: 40%;
    margin-top: 380px;
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.carousel_btn:hover {
    background-color: #000000;
}   
button:hover, .btn:hover {
    background-color: #40519f;
}

