{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3 rounded-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Booking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log in</a>
        </li>
        <li class="nav-item dropdown">
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    {%for image in room.images.all %}
    <div class="carousel-item">
      <img src="{{image.room_picture.url}}" class="d-block w-100" alt="...">
    </div>
    {%endfor%}
  </div>
  <button class="carousel-control-prev carousel_btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next carousel_btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="card mb-3 me-2" style="width: 18rem;">
  <img src={{room.picture.url}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Номер: {{room.room_number}}</h5>
    <p class="card-text">{{room.price_per_night}} грн</p>
    <a href="{% url 'room_page' room.pk %}" class="btn btn-primary">Детальніше</a>
  </div>
</div>

{% endblock  %}